<template name="layout">
    <nav>
        <div class="nav-wrapper teal">
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li>
                    <a href="{{pathFor route='home'}}">Home</a>
                </li>
                <li>
                    <a href="{{pathFor route='posts'}}">Blog</a>
                </li>
            </ul>
            <ul class="right">
                {{#if currentUser}}
                    <li><a href="{{pathFor route='profile'}}">{{currentUser.profile.name}}</a></li>
                    <li><a href="#" id="logout">Log out</a></li>
                {{else}}
                <li>
                    <a href="{{pathFor route='signin'}}">Login</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </nav>
    {{> yield}}
</template>